body
{
    background-color: #3f3e3e;
    background: gray;
    background: linear-gradient(90deg, #5e5e5f 0%, #4a4a53 35%, #787a7a 100%);
}

h1
{
    color: aliceblue;
    margin-top: 300px;
    font-size: xxx-large;
    border: 10px solid #ffffff;
    border-radius: 10px;
    width: 1000px;
    padding: 10px;
}