body
{
    background-color: rgb(63, 62, 62);
    background:linear-gradient(90deg, rgb(94,94,95)0%,
    rgb(74,74,83)35%, rgb(120, 122 , 122)100%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1
{
    color: #ffffff;
}

.palmeirascenter
{
    background-color: rgb(63, 62, 62);
    border: 15px #ffffff solid;
    border-radius: 19px;
    width: 1030px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

center
{
    background-color: rgb(63, 62, 62);
    border: 15px #ffffff solid;
    border-radius: 19px;
    width: 1000px;
    margin: auto;
    padding: 30px;
    
}

.eixo
{
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
