body
{
    background: gray;
    background: linear-gradient(90deg, rgb(94, 94, 95) 0%, rgb(74, 74, 83) 35%, rgb(120, 122, 122) 100%); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    margin-top: 50px;
}

main
{
    margin: auto;
    width: 1200px;
}

h1
{
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 400px;
    background-color: rgb(63,62,62)
}

.vietna
{
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(63,62,62)
}

.coreia
{
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(63,62,62)
}

.legado
{
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(63,62,62)
}

.fim
{
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(63,62,62)
}

.origensguerrafria
{
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(63,62,62)
}

.bloqueio
{
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(63,62,62)
}