body
{
   background-color: rgb (63, 62, 62);
   background: rgb(95, 94, 94);
   background: -moz-linear-gradient(90deg, rgb(94, 94, 95) 0%, rgb (74, 74, 83) 35%, rgb(120, 122, 122 ) 100% );
}
.p 
{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
h1
{
 background-color: rgb(231, 9, 9);


}
h2
{
   color: rgb(231, 9, 9)

}



  



